{% extends parent_template %}
{% block head_title %}: {{ minion.name }}{% endblock %}

{% block content %}
    <h2>{{ minion.name }}</h2>
    <form action="{% url "history" name=minion.name %}" method="get" accept-charset="utf-8">
        {{ form.from_date }} {{ form.to_date }}
        <input type="submit" value="Filter">
    </form>
    <div class="row">
    {% for graph in graphs %}
    <div class="span5{% cycle '' ' offset2' %}">
        <h4>{{ graph.name }}</h4>
        <div id="{{ graph.name|slugify }}" class="graph" style="width:380px;height:300px" data-points="{{ graph.data }}"></div>
    </div>
    {% endfor %}
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.time.min.js"></script>
    <script type="text/javascript">
        (function ($, app) {
            var graphOptions = {
                    xaxis: { mode: "time" },
                    yaxis: { min:0 },
                    series: {
                        lines: {
                            fill: true,
                            lineWidth:3,
                            fillColor: 'rgba(151,187,205,0.5)'
                        },
                        shadowSize: 0
                    },
                    colors: ['rgba(151,187,205,1)'],
                    grid: {
                        borderWidth: 0,
                        color: '#ddd'
                    }
                };
            function getTimeStampedUrl() {
                var url_search = window.location.search.substr(1);
                var url_base = window.location.origin + window.location.pathname;
                var query_params= decodeURIComponent(url_search).split("&");

                // Build a dict with all the params from the url_base
                var params = {};
                var kv = [];
                for (var i=0; i < query_params.length; i++) {
                    kv =query_params[i].split("=");
                    if (kv[0] !== "") {
                        params[kv[0]] = kv[1];
                    }
                }

                // Set a new timestamp in the params
                params.timestamp = new Date().getTime();
                url_search = $.param(params);
                return url_base + "?"+ url_search;
               }


            function drawGraphs () {
                $('.graph').each(function (idx, el) {
                    var $graph = $(el),
                        data = $graph.data('points');
                    $graph.plot([data], graphOptions);
                });
            }

            function updateContent () {
                $.ajax({
                    url: getTimeStampedUrl(),
                    type: 'GET',
                    headers: {'X-PJAX': 'true'},
                    success: function (data) {
                        $('#content').html(data);
                        app.updateTimestamps();
                        drawGraphs();
                    }
                });
            }

            drawGraphs();
            // update every minute
            setInterval(updateContent, {{ refresh_interval_history }});
        })(jQuery, window.app);
    </script>
{% endblock %}
