{% extends parent_template %}
{% load metrics %}
{% block head_title %}: Status{% endblock %}
{% block content %}
    {% for source, metrics in source_metrics.items %}
    <h2><a href="{{ source.get_absolute_url }}">{{ source.name }}</a></h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>check</th>
                <th>status</th>
                <th>last checked</th>
            </tr>
        </thead>
        <tbody>
        {% for metric in metrics %}
            <tr{% if metric.alert_triggered %} class="error"{% endif %}>
                <td><tt>{{ metric.name }}</tt></td>
                <td>{% display_result metric %}</td>
                <td><time class="timeago" title="{{ metric.last_updated.isoformat }}" datetime="{{ metric.last_updated.isoformat }}">{{ metric.last_updated }}</time></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% empty %}
    <div class="well">
        <p><span class="label label-important">No Data</span> Looks like you just started.</p>
    </div>
    {% endfor %}
{% endblock content %}
{% block extrajs %}
    <script type="text/javascript">
        (function ($, app) {
            setInterval(app.updateContent, 60000);
        })(jQuery, window.app);
    </script>
{% endblock %}
