{% extends parent_template %}
{% block head_title %}: {{ minion.name }}{% endblock %}

{% block content %}
    <h2>{{ minion.name }}</h2>
    <form action="{% url "history" name=minion.name %}" method="get" accept-charset="utf-8" class="form-inline">
        {{ form.from_date }} {{ form.to_date }}
        <div class="btn-group">
            <button class="btn" type="submit">Filter</button>
        </div>
    </form>
    <div class="row">
    {% for graph in graphs %}
    <div class="col-md-5{% cycle '' ' col-md-offset-2' %}">
        <h4>{{ graph.name }}</h4>
        <div id="{{ graph.name|slugify }}" class="graph" style="width:100%;height:300px" data-type="{{ graph.type }}" data-points="{{ graph.data }}"></div>
    </div>
    {% endfor %}
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.flot.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.flot.time.min.js"></script>
    <script type="text/javascript">
        (function ($, app) {
            var options = {
                    base: {
                        xaxis: { mode: "time" },
                        yaxis: { min:0 },
                        series: {
                            lines: {
                                fill: true,
                                lineWidth:3,
                                fillColor: 'rgba(151,187,205,0.5)'
                            },
                            shadowSize: 0
                        },
                        colors: ['rgba(151,187,205,1)'],
                        grid: {
                            borderWidth: 0,
                            color: '#ddd'
                        }
                    },
                    percentage: {},
                };
            $.extend(options.percentage, options.base, {
                yaxis: { min:0, max: 100 }
            });

            function drawGraphs () {
                $('.graph').each(function (idx, el) {
                    var $graph = $(el),
                        data = $graph.data('points'),
                        type = $graph.data('type')
                    $graph.plot([data], options[type] || options.base);
                });
            }
            drawGraphs();
            // update every minute
            setInterval(function () { app.updateContent(drawGraphs) },
                        {{ refresh_interval_history }});
        })(jQuery, window.app);
    </script>
{% endblock %}
